<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SindhiManu.Tipno">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.SindhiSangat">


        <activity android:name="com.SindhiManu.Tipno.DisplayAarti"

            android:theme="@style/Theme.SindhiSangat.NoActionBar"
            >

        </activity>
        <activity android:exported="true"
            android:name="com.SindhiManu.Tipno.DisplayMonth"
            android:label="@string/title_activity_display_month"
            android:theme="@style/Theme.SindhiSangat.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.SindhiManu.Tipno.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>


        <activity android:name="com.SindhiManu.Tipno.DisplayAartiMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SindhiSangat.NoActionBar"
            >
        </activity>

        <activity android:name="com.SindhiManu.Tipno.DisplayPandits"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SindhiSangat"
            >

        </activity>

        <activity android:name="com.SindhiManu.Tipno.HomePage"
            android:exported="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5119696537177747~8816921189"/> <!--app id-->


    </application>

</manifest>